@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --veryDarkBlue: hsl(233, 47%, 7%);
  --darkDesaturatedBlue: hsl(244, 38%, 16%);
  --softViolet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --mainParagraph: hsla(0, 0%, 100%, 0.75);
  --statsHeading: hsla(0, 0%, 100%, 0.6);
}

body {
  background-color: var(--veryDarkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(--white);
  height: auto;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  main {
    background-color: var(--darkDesaturatedBlue);
    border-radius: 10px;
    width: 90vw;
    margin: 60px auto;
  }
  .heroImg {
    width: 100%;
    height: 37vh;
    background: var(--softViolet);
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  img {
    width: 100%;
    opacity: 0.6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .mainContent {
    padding-left: 10px;
    padding-right: 10px;
  }
  .heroCaption {
    margin-top: 40px;
    text-align: center;
    font-size: 1.8rem;
  }
  .heroCaption span {
    color: var(--softViolet);
  }
  .cardDesc {
    text-align: center;
    color: var(--mainParagraph);
    font-size: 1rem;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
  }
  .stats {
    text-align: center;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .stats_details p {
    text-transform: uppercase;
    color: var(--mainParagraph);
    padding-bottom: 30px;
  }
}
